services:
    - docker

before_install:
    - docker build -t pd28797/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true pd28797/docker-react npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    edge: true
    region: "us-east-2"
    app: "docker"
    env: "Docker-env"
    bucket_name: "elasticbeanstalk-us-east-2-946131520734"
    bucket_path: "docker"
    on:
        branch: master
        access_key_id:
            secure: "$AWS_ACCESS_KEY"
        secret_access_key: 
            secure: "$AWS_SECRET_KEY"